ENV=local

VST3_PLUGINS=../../../Plug-Ins/Headless
VST3_SDK=../../../vst3sdk
ASPNETCORE_PORT=5001
REDIS_PASSWORD=
COMPOSE_NOW_METRICS_KEY=
REQUIRE_PLUGIN_LEASE=false

DOTNET_USE_POLLING_FILE_WATCHER=
DOTNET_WATCH_SUPPRESS_LAUNCH_BROWSER=
APP_MODE=

PLUGIN=SineSynthHeadless
CMAKE_BUILD_TYPE=Release

VST3_PATH=/plugins
VST_HOST_LIB_DIR=VstHostCapi

# Defaults to Environment.ProcessorCount when omitted.
VST_ENGINE_POOL_MAX_TOTAL_INSTANCES=
VST_ENGINE_POOL_MAX_INSTANCES_PER_PLUGIN=
VST_ENGINE_MAX_STATE_BYTES=67108864
VST_ENGINE_POOL_IDLE_SECONDS=120
VST_ENGINE_POOL_SWEEP_SECONDS=30
