VST3_PLUGINS=
VST3_SDK=
ASPNETCORE_PORT=5001
REDIS_PASSWORD=

DOTNET_USE_POLLING_FILE_WATCHER=
DOTNET_WATCH_SUPPRESS_LAUNCH_BROWSER=
APP_MODE=

PLUGIN=SineSynthHeadless
CMAKE_BUILD_TYPE=Release

VST3_PATH=/plugins